nav {
    margin-bottom: 15px;
}

/* .img {
    margin-right: 25px;
    margin-bottom: 7px;
    border-radius: 15px;
    box-shadow: 5px 10px 25px darkgray;
} */

.btn-primary {
    background-color: darkblue;
}

/* #navbarNavAltMarkup.navbar-collapse.collapse.show {

} */

#avatar {
    border-radius: 50%;
    float: left;
    margin-left: 5%;
}

.photos1 {
    border-radius: 12px;
    box-shadow: 5px 10px 25px darkgray;
}



.photos {
    height: auto;
    width: 50%;
    max-width: 270px;
    margin-right: 25px;
}

.navbar-nav {
    justify-content: flex-end;
    margin-right: 5%;
}

.card2 {
    margin-top: 40px;
}

.navbar-brand {
    margin-left: 2%;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    margin-bottom: 15px;
    margin-left: 6%;
}

.col-md-3 {
    position: relative;
}

.container1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    /*margin-left: 5%;*/
}

.statsImg {
    border-radius: 15px;
    margin-bottom: 15px;
}

/* .policeImg {
    border-radius: 15px;
    border: 5px solid darkgrey;
    margin-bottom: 15px;
} */

.ticketImg {
    border-radius: 15px;
    margin-bottom: 15px;
}

.statsBtn {
    background-color: darkblue;
    color: white;
    width: 200px;
    border-radius: 15px;
    height: auto;
    position: absolute;
    top: 0;
    text-align: center;
}

/* .mediaLogos {
    margin-right: auto;
} */

.nav-item {
    line-height: 200%;
}

.twitterLink {
    margin-right: 8px;
}

.githubLink {
    margin-right: 8px;
}

.statsBtn:hover {
    background-color: darkred;
}

#policeImg { 
    height: 287px;
}

#musicImg {
    height: 287px;
}

/* .policeBtn {
    background-color: darkblue;
    color: white;
    width: 200px;
    border-radius: 15px;
    height: auto;
    position: absolute;
    top: 0;
    text-align: center;
} */

/* .policeBtn:hover {
    background-color: darkred;
} */

.ticketBtn {
    background-color: darkblue;
    color: white;
    width: 200px;
    border-radius: 15px;
    height: auto;
    position: absolute;
    top: 0;
    text-align: center;
}

.ticketBtn:hover {
    background-color: darkred;
}

.form {
    text-align: center;
}

footer {
    background-color: darkred;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}