
body {
    background-image: url(../assets/images/black-and-white-colorado-mountains-42297.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner {
    height: 250px;
    margin-top: 12px;
    border-radius: 12px;
    width: 100%;
    -webkit-background-size: cover; 
    /* overflow: hidden; */
    /* background-image: url(../assets/images/custom-speedometer-gauge-11-1200x795\ 2.jpg); */
    /* background-position: center center;
    background-size: cover;
    */
    /* box-shadow: 5px 10px 25px darkgray; */
}

.bannerText {
    width: 100%;
    margin-top: 175px;
    margin-left: 50px;
    color: white;
    font-size: 60px;
    font-family: 'Sorts Mill Goudy';
}

#bannerSub {
    color: white;
    font-size: 20px;
    margin-left: 60px;
    font-family: 'Sorts Mill Goudy';
}

.side-navBar {
    height: 100%;
    width: 165px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #22282e;
    overflow: hidden;
    padding-top: 24px;
    border-right: 5px solid white;
}

.side-navBar a {
    padding: 20px 10px 10px 25px;
    font-size: 18px;
    color: white;
    display: block;
    text-transform: uppercase;
    font-family: 'Sorts Mill Goudy';
}

.githubLink {
    margin-top: 18px;
    margin-left: 40px;
}

#navTop {
    width: 160px;

}

.title {
    font-family: 'Crimson Text', serif;
    color: white;
}

.btn {
    background-color: #22282e;
    color: white;
}

/* .img {
    margin-right: 25px;
    margin-bottom: 7px;
    border-radius: 15px; 
    box-shadow: 5px 10px 25px darkgray;
} */

.wrapper {
    margin-left: 180px;
    padding: 0 10px;
}

#infoArea {
    max-width: 85%;
    margin: 48px auto;
    color: white;
    padding: 30px;
    background-color: #3e4347d0;
    border-radius: 4px;
    margin-top: 50%;
    box-shadow: 5px 10px 25px rgb(46, 46, 46);
}

#portfolioArea {
    max-width: 85%;
    margin: 56px auto;  
    font-family: 'Crimson Text', serif; 
}

/* .photos {
    height: auto;
    width: 50%;
    max-width: 200px;
    margin-right: 25px;
} */

.aboutMe {
    font-family: 'IM Fell Double Pica', serif;
    font-size: 20px;
}

#portfolioArea {
    margin-bottom: 64px;
}

.card2 {
    margin-top: 40px;
    box-shadow: 5px 10px 25px rgb(46, 46, 46);
    background-color: #3e4347d0;
    color: white;
}

.col-md-3 {
    position: relative;
}

.card1 {
    border-radius: 8px;
    box-shadow: 5px 10px 25px rgb(46, 46, 46);
    background-color: #3e4347d0;
    color: white;
}

.statsImg {
    border-radius: 15px;
    margin-bottom: 15px;
}

.ticketImg {
    border-radius: 15px;
    margin-bottom: 15px;
}

#policeImg { 
    height: 287px;
}

#contactArea {
    margin-bottom: 80px;
}

#musicImg {
    height: 287px;
}

.form {
    text-align: center;
}

.photo {
    width: 250px;
    margin-left: 33%;
    border-radius: 8px;
}

/* Mobile Media */

@media only screen and (max-width: 700px) {

    .side-navBar {
        width: 90px;
    }

    #bannerSub {
        display: none;
    }

    .wrapper {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 65px;
        margin-right: -70px;
    }

    .banner {
        margin-left: 25px;
        width: 90%;
    }

    .bannerText {
        margin: 24px 15px;
        font-size: 40px;
    }

    #infoArea {
        width: 100%;
        margin-top: -50px;
    }

    .container1 {
        margin: 0 5%;
    }

    .card1 {
        margin-top: 40px;
    }

    #contactArea {
        width: 400px;
        margin: 0 auto;
    }

    .photo {
        margin: 10px 5%;
    }

    #nav {
        font-size: 8px;
    }

    .githubLink {
        margin-left: 0;
    }

}